@charset "UTF-8";
/* CSS Document */

/* Footer */

.bottom {
	background-color: #CCC;
	height: 15rem;
	padding: 1.5rem 10%;
}

.bottom p {
	float:left;
	color: #FFF;
	font-size: 1rem;
}	

.social{
}

.social img {
	width: 4.5rem;
}

.social li {
	display: inline;
	margin:1rem;
}

.social li:nth-child(2n+2) {
	margin-right: 0;
}		