# Accessibility Testing Report

User testing was conducted by Thalia Bacilio on Wednesday April 2, 2014 between the times of 3:00pm and 5:00pm with the following participants:

- Marta Traczyk
- Pedro Cardoso Dos Santos
- Anita Chanthavong
- Amanda Sparks
- Katie Situ
- Sarah Hodgson

## Tasks

1. Found about the company
2. Found details about tomatoes and buy it 
3. Send a email 

---

## Individual Results & Observations

## Using only the keyboard

### Marta Traczyk

- She completed the three tasks as expected more easily than the last time. 
- No comments this time. 
- Everything looks good.

### Sarah Hodgson

- She found everything very fast.
- She completed the three tasks. 
- She likes the website. 
- No comments. 

### Amanda Sparks

- She did not have any difficulty completing the tasks. 
- Everything is straightfoward and simple.  
- Add style to my sub navigation.

## Using only VoiceOver.

### Pedro Cardoso Dos Santos

- He completed the three tasks perfectly.
- He did not like this process because it takes more time. 
- Advice: Have the header and footer on the shopping cart page.

### Anita Chanthavong

- Sometimes I see frustration because it was tedious to use the VoiceOver.
- She did all the tasks; even though she was not familiar with the keyshort cuts. 
- Comment: Add style to the submenu to make it more visible. 

### Katie Situ

- She completed the three tasks as expected; however it took a while. 
- No comments everything looks fabolous. 

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Nothing

### Serious, Causes Frustration, May Hinder Completion

- Nothing

### Minor, Annoying, Won’t Hinder Completion

- Add style to my submenu.
- Add header and footer to my shoppin cart page. 