# User Testing Report

User testing was conducted by Thalia Bacilio on Wednesday March 26, 2014 between the times of 3:00 pm and 5:00 pm with the following participants:

- Marta Traczyk
- Anita Chanthavong
- Melissa Roy

## Tasks

1. Find about the company. 
2. Find details about strawberries
3. Send a email

---

## Individual Results & Observations

### {Marta Traczyk}

- She clicked on the link as expected. (About Menu)
- She found the strawberries very fast. She clicked on catalog then fruits and finally strawberries. 
- She had troubles finding the contact information. She expected to find it on the menu bar. The contact information is on the footer but she did not scroll down. 
- She mention that my contact information is not visibe. However the page looks great. 


### {Anita Chanthavong}

- She clicked on the link as expected. (About Menu)
- She found the strawberries very fast. She clicked on catalog then fruits and finally strawberries. 
- She found the contact information very quickly; nevertheless, she suggested to put it on the navigation bar which is more common to find it. 
- She loves my web design page. Especially the fruits graphics. 


### {Melissa Roy}

- She clicked on the link as expected. (About Menu)
- She found the strawberries very fast. She clicked on catalog then fruits and finally strawberries. 
- She found the contact information very quickly. 
- She said that everything is straightforward. 
- She suggested to put the large banner on top of the catalog page.

---

## Trends


### Serious, Causes Frustration, May Hinder Completion

- Two of the participants mention that the contact information should be on the menu bar. It is more common and user friendly. 


### Minor, Annoying, Won’t Hinder Completion

- Add the large banner on top of the catalog page. 