
<div class="product">
	<div class="media">
		<h2 class="peta">3 DAY JUICE CLEANSE</h2> 
			<div class="media-img">
				<img class="img-flex" src="../images/fruits/juices.jpg" alt"Juices">	
			</div>
		<div class="media-body">
			<h2 class="tera space-none">$199</h2>
			<p>Liquid love for your body - Fresh pressed raw juices made by moi & delivered right to your door.  Check out the juice menu & ingredients.</p>
			<p>What do I get?  18 bottles of juice (500ml each) in six delicious flavours to cleanse and detoxify your body – 6 juices per day x 3 days.</p>
			<p>How much does it cost?  $199 + $10 delivery fee inside the Ottawa greenbelt ($20 delivery fee outside greenbelt).</p>
			<a class="btn mega brand-family" href="#">Buy Now!</a>
		</div>
	</div>
</div>
