/* Footer */

.footer {
  background-color: rgba(204,179,4,.6);
  height: 140px;
}

.footer-copyright,
.footer-links {
  text-align: center;
}

.footer-links a,
.footer-links a:link,
.footer-links a:visited {
  border: 0;
}


@media only screen and (min-width: 50em) {

  .footer-copyright {
    text-align: left;
  }

  .footer-links {
    text-align: right;
  }
}

@media only screen and (min-width: 75em){
	footer{
		clear: both;
	}
}