.masthead {
	background-color: rgba(204,179,4,.4);
	padding: 1.5%;
}

.logo {
	margin: auto;
	width: 180px;
	padding-bottom: 1rem;
}

img{
	width: 100%;
}

.hide-text {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}

.current {
	background-color: rgba(204,36,131,1);
}

.banner {
	background: #6e9d1b url("../images/banner.jpg") no-repeat center center;
	background-size: cover;
	padding: 5rem 1rem 1rem;
	text-align: center;
}

.banner h1 {
	color: #FFF;
}


.banner2 {
	background: #6e9d1b url("../images/banner2.jpg") no-repeat center center;
	background-size: cover;
	padding: 5rem 1rem 1rem;
	text-align: center;
}

.banner2 h1 {
	color: #FFF;
}

/* Navigation Styles */
#cssmenu {
  background: #000;
  width: auto;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  float: left;
  display: block;
  padding: 0;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'bebas_neueregular';
  font-size: 30px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #CC3;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}

#cssmenu ul li a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: rgba(204,36,131,1);
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: rgba(204,36,131,1);
}
#cssmenu ul li.active a:before {
  width: 100%;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    height: 1px;
    background: #FFF;
    width: 100%;
	opacity: .5;
  }
  
  #cssmenu ul li.last > a:before,
  #cssmenu ul li:last-child > a:before {
    display: none;
  }   
  
}

.submenu{
  background: #000;
  height: 13rem;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 19px;
}

.submenu a:hover {
    color: #FFF;
}
