<!doctype html>
<html lang="en-ca">
<head>
	<meta charset="UTF-8">
	<title>Tutti Fruitree</title>
	<meta name="handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link href="../fonts/bebas.css" rel="stylesheet">
	<link href="../{{site.baseur}}/css/common.css" rel="stylesheet">
	<link href="../{{site.baseur}}/css/typography.css" rel="stylesheet">
	<link href="../{{site.baseur}}/css/list-group.css" rel="stylesheet">
	<link href="../{{site.baseur}}/css/media-object.css" rel="stylesheet">
	<link href="../{{site.baseur}}/css/embed.css" rel="stylesheet">
	<link href="../{{site.baseur}}/css/icons.css" rel="stylesheet">
	<link href="../{{site.baseur}}/css/buttons.css" rel="stylesheet">
	<link href="../{{site.baseur}}/css/grid.css" rel="stylesheet">
	<link href="../{{site.baseur}}/css/header.css" rel="stylesheet">
	<link href="../{{site.baseur}}/css/footer.css" rel="stylesheet">
	<link href="../{{site.baseur}}/css/product-details.css" rel="stylesheet">
	<link href="../{{site.baseur}}/css/product-list.css" rel="stylesheet">
</head>


<body>



{{content}}



</body>
</html>